.Rproj.user
.Rhistory
.RData
.Ruserdata


.DS_Store


dev/
rsonnect/
public/

README.html

content/top/impressum.md


/.quarto/
/_site/
blog/mac-setup/index.ipynb
blog/mac-setup/index.qmd
blog/mac-setup/mac_setup_thumbnail.png
